@import "./variables.scss";

main.page_wrap {
  width: 100%;
  display: grid;
  padding: 10% 10%;
  text-align: justify;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "pic pic"
    "contact contact"
    "objective objective"
    "education education"
    "experience experience"
    "languages languages"
    "skills skills"
    "interest interest"
    "links links";
  .section_header {
    margin-bottom: $margin-bottom-10;
    background-color: $bgh-op6;
    padding: 2% 3%;
    text-align: center;
    border-radius: 10px;
  }
  p {
    margin-right: 5%;
    margin-left: 5%;
  }
  & > section > h4,
  p {
    margin-bottom: $margin-bottom-2;
  }

  a {
    margin-right: 5%;
    margin-left: 5%;
  }
  .details {
    margin-bottom: $margin-bottom-10;
  }
}

.contact_info {
  grid-area: contact;
  width: 100%;
  margin-bottom: $margin-bottom-8;
  h1.fn {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 2%;
  }

  p {
    text-indent: 0;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
  }
  .email {
    display: inline-block;
  }
  .tel {
    display: inline-block;
  }
  & > div {
    display: inline-block;
  }
}
.objective {
  grid-area: objective;
  margin-bottom: $margin-bottom-10;
}
.education {
  grid-area: education;
  margin-bottom: $margin-bottom-10;
  & > .section_header {
    margin-bottom: $margin-bottom-10;
    background-color: $bgh-op6;
    padding: 2% 3%;
    text-align: center;
    border-radius: 10px;
  }
  & > .school {
    margin-bottom: $margin-bottom-2;
  }
  & > .duration {
    margin-bottom: $margin-bottom-2;
  }
  & > h4,
  p {
    margin-bottom: $margin-bottom-2;
  }
  & > .details {
    margin-bottom: $margin-bottom-10;
  }
}
.experience {
  grid-area: experience;
  margin-bottom: $margin-bottom-10;
  & > .section_header__bg {
    background-color: $bgh-op6;
    padding: 2% 3%;
    text-align: center;
    border-radius: 10px;

    margin-bottom: $margin-bottom-5;
  }
  & > .duration {
    margin-bottom: $margin-bottom-2;
  }
  & > h4,
  p {
    margin-bottom: $margin-bottom-2;
  }
  & > .details {
    margin-bottom: $margin-bottom-10;
  }
}
.languages {
  grid-area: languages;
  margin-bottom: $margin-bottom-10;
  & > .section_header__bg {
    background-color: $bgh-op6;
    padding: 2% 3%;
    text-align: center;
    border-radius: 10px;

    margin-bottom: $margin-bottom-5;
  }
  & > p {
    text-align: center;
  }
}
.skills {
  grid-area: skills;
  margin-bottom: $margin-bottom-10;
  .section_header__bg {
    background-color: $bgh-op6;
    padding: 2% 3%;
    text-align: center;
    border-radius: 10px;

    margin-bottom: $margin-bottom-5;
  }
  .list {
    @include list-container;
  }
  .list_element {
    width: 60%;
    margin-bottom: $margin-bottom-5;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;

    text-align: center;
    display: flex;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0;
    }

    .skill {
      vertical-align: middle;
      align-items: left;
    }
    .element_logo {
      display: block;
      margin-left: $margin-bottom-10;
      text-align: right;
    }
  }
}
.links {
  grid-area: links;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-bottom: $margin-bottom-10;
  & > .section_header__bg {
    background-color: $bgh-op6;
    padding: 2% 3%;
    text-align: center;
    border-radius: 10px;

    margin-bottom: $margin-bottom-5;
    letter-spacing: 0.4rem;
  }
  & > .link {
    display: inline-block;
  }
  & > .link:nth-child(2) {
    margin-bottom: $margin-bottom-5;
  }
}
.interest {
  grid-area: interest;
  margin-bottom: $margin-bottom-10;
  & > .section_header__bg {
    background-color: $bgh-op6;
    padding: 2% 3%;
    text-align: center;
    border-radius: 10px;

    margin-bottom: $margin-bottom-5;
    letter-spacing: 0.2rem;
  }
  & > ul.list {
    @include list-container;
    height: 80%;
    & > .list_element {
      margin-bottom: $margin-bottom-5;
      align-items: center;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.footer {
  font-size: 0.5rem;
  color: rgb(200, 201, 204);
  padding: 2%;
  text-align: right;
}
@media (min-width: 615px) {
  main.page_wrap {
    grid-template-areas:
      "contact pic"
      "objective pic"
      "education education"
      "experience experience"
      "languages languages"
      "skills skills"
      "interest interest"
      "links links";
    p {
      margin-left: 5%;
      margin-right: 5%;
    }
    p:last-child {
      margin-bottom: 0;
    }
    .duration {
      margin-left: 2%;
    }
  }
  .contact_info {
    p {
      margin-left: auto;
    }
  }
}
@media (min-width: 768px) {
  main.page_wrap {
    grid-template-areas:
      "contact pic"
      "objective pic"
      "education education"
      "experience experience"
      "languages languages"
      "skills interest"
      "links links";
  }
  .interest {
    & > .section_header__bg {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .skills {
    .section_header__bg {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .list_element {
      margin-left: $margin-bottom-15;
    }
  }
}
