$margin-bottom-12: 12%;
$margin-bottom-10: 10%;
$margin-bottom-8: 8%;
$margin-bottom-5: 5%;
$margin-bottom-2: 2%;

@mixin section_header__bg {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2% 3%;
  border-radius: 10px;
  text-align: center;
}
@mixin list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: circle;
}

main.page_wrap {
  width: 100%;
  max-width: 360px;
  display: grid;
  padding: 10% 10%;
  text-align: justify;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "pic pic"
    "contact contact"
    "objective objective"
    "education education"
    "experience experience"
    "languages languages"
    "skills skills"
    "interest interest"
    "links links";
  .section_header {
    margin-bottom: $margin-bottom-10;
    @include section_header__bg;
  }

  & > section > h4,
  p {
    margin-bottom: $margin-bottom-2;
  }
  .details {
    margin-bottom: $margin-bottom-10;
  }
}
.contact_info {
  grid-area: contact;
  width: 100%;
  margin-bottom: $margin-bottom-8;
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 2%;
  }
  p {
    text-indent: 0;
    font-size: 0.8rem;
  }
}
.objective {
  grid-area: objective;
  margin-bottom: $margin-bottom-10;
}
.education {
  grid-area: education;
  margin-bottom: $margin-bottom-10;
  & > .section_header {
    margin-bottom: $margin-bottom-10;
    @include section_header__bg;
  }
  & > .school {
    margin-bottom: $margin-bottom-2;
  }
  & > .duration {
    margin-bottom: $margin-bottom-2;
  }
  & > h4,
  p {
    margin-bottom: $margin-bottom-2;
  }
  & > .details {
    margin-bottom: $margin-bottom-10;
  }
}
.experience {
  grid-area: experience;
  margin-bottom: $margin-bottom-10;
  & > .section_header__bg {
    @include section_header__bg;
    margin-bottom: $margin-bottom-5;
  }
  & > .duration {
    margin-bottom: $margin-bottom-2;
  }
  & > h4,
  p {
    margin-bottom: $margin-bottom-2;
  }
  & > .details {
    margin-bottom: $margin-bottom-10;
  }
}
.languages {
  grid-area: languages;
  margin-bottom: $margin-bottom-10;
  & > .section_header__bg {
    @include section_header__bg;
    margin-bottom: $margin-bottom-5;
  }
  & > p {
    text-align: center;
  }
}
.skills {
  grid-area: skills;
  margin-bottom: $margin-bottom-10;
  .section_header__bg {
    @include section_header__bg;
    margin-bottom: $margin-bottom-5;
  }
  .list {
    @include list-container;
  }
  .list_element {
    width: 60%;
    margin-bottom: $margin-bottom-5;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;

    text-align: center;
    display: flex;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0;
    }

    .skill {
      vertical-align: middle;
      line-height: 32px;
      align-items: left;
    }
    .element_logo {
      display: block;

      text-align: right;
    }
  }
}
.links {
  grid-area: links;
  margin-bottom: $margin-bottom-10;
  & > .section_header__bg {
    @include section_header__bg;
    margin-bottom: $margin-bottom-5;
  }
  & > .link {
    display: inline-block;
  }
  & > .link:nth-child(2) {
    margin-bottom: $margin-bottom-5;
  }
}
.interest {
  grid-area: interest;
  margin-bottom: $margin-bottom-10;
  & > .section_header__bg {
    @include section_header__bg;
    margin-bottom: $margin-bottom-5;
    font-size: 19px;
    line-height: 28px;
  }
  & > ul.list {
    @include list-container;
    & > .list_element {
      margin-bottom: $margin-bottom-5;
      align-items: center;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.footer {
  font-size: 0.5rem;
  color: rgb(200, 201, 204);
  padding: 2%;
  text-align: right;
}
