* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 14;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 360px;
  background-color: #30363d;
  margin: auto;
}
#__next {
  // display: grid;
  // grid-template-rows: auto 1fr auto;
  height: inherit;
  width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: whitesmoke;
}
h1 {
  font-size: 44px;
  font-family: "Zilla Slab", sans-serif;
  color: rgba(255, 255, 255, 0.9);
}
h2 {
  font-weight: 700;
  font-size: 32px;
  font-family: "Zilla Slab";
  color: rgba(255, 255, 255, 0.75);
}
h3 {
  font-size: 24px;
  font-family: "Zilla Slab";
  color: rgba(255, 255, 255, 0.95);
}
h4 {
  font-size: 19px;
  font-family: "Montserrat";
  color: #cbcfd4;
}

p,
li {
  font-size: 1rem;
  font-family: "Montserrat";
  color: #cbcfd4;
}
ul {
  list-style: none;
}
