* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

:root {
  font-size: 14;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-color: #30363d;
}
#__next {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: inherit;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: whitesmoke;
}
h1 {
  font-size: 44px;
  font-family: "Zilla Slab", sans-serif;
  color: rgba(255, 255, 255, 0.9);
}
h2 {
  font-weight: 700;
  font-size: 32px;
  font-family: "Zilla Slab";
  color: rgba(255, 255, 255, 0.75);
}
h3 {
  font-size: 24px;
  font-family: "Zilla Slab";
  color: rgba(255, 255, 255, 0.95);
}
h4 {
  font-size: 19;
  font-family: "Montserrat";
  color: #cbcfd4;
}
p,
li {
  font-size: 1rem;
  font-family: "Montserrat";
  color: #cbcfd4;
  list-style: none;
}
