@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-color: #30363d;
  margin: auto;
  font-size: 14px;
}
main {
  color: $tx-l;
}

#__next {
  height: inherit;
  width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: whitesmoke;
}
h1 {
  font-size: 3rem;
  font-family: "Zilla Slab", sans-serif;
  color: rgba(255, 255, 255, 0.9);
}
h2 {
  font-weight: 700;
  font-size: 2rem;
  font-family: "Zilla Slab";
  color: rgba(255, 255, 255, 0.75);
}
h3 {
  font-size: 1.7rem;
  font-family: "Zilla Slab";
  color: rgba(255, 255, 255, 0.95);
}
h4 {
  font-size: 1.3rem;
  font-family: "Montserrat";
  color: $tx-s;
}

p,
li {
  font-size: $tx-size01-0;
  font-family: "Montserrat";
  color: rgb(203, 207, 212);
}
ul {
  list-style: none;
}
