$margin-bottom-12: 12%;
$margin-bottom-10: 10%;
$margin-bottom-8: 8%;
$margin-bottom-5: 5%;
$margin-bottom-2: 2%;

//Color Pallet
$tx-s: rgb(200, 201, 204);
$tx-m: #435058;
$tx-l: rgba(121, 138, 141, 1);
$bg: rgba(8, 15, 29, 1);
$bg-op4rgba: (8, 15, 29, 0.4);
$bg-op7rgba: (8, 15, 29, 0.7);
$bg-light: rgba(45, 58, 68, 1);
